## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [ ]:
7**4

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [ ]:
s = 'Hi there Sam!'

In [ ]:
s.split()

['Hi', 'there', 'Sam!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742

In [ ]:
print("The diameter of {} is{} kilometers.".format(planet,diameter))

The diameter of Earth is12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
lst[3][1][2][0]

'hello'

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

In [ ]:
#Mutability: one of the main difference between a tuple is that List is mutable,Whereas a Tuple is immutable.

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [ ]:
def domainGet(email):
    return email.split('@')[-1]

In [ ]:
domainGet('user@domain.com')

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [ ]:
def findDog(st):
    return 'dog' in st.lower().split()

In [ ]:
findDog('In there a dog here?')

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [ ]:
def countDog(st):
    count=0
    for word in st.lower().split():
      if word in st.lower().split():
        count +=2
        return count

In [ ]:
countDog('This dog runs faster than the other dog dude!')

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [ ]:
 caught_speeding(81,True)

'Small Ticket'

In [ ]:
caught_speeding(81,False)

'Big Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [ ]:
 n = int(input('Enter the number of employee: '))
employees = {}
    
for i in range(n):
    name = input('Enter the name of the employee: ')
    emp_id = input("Enter employee Id: ")
    sal = int(input("Enter the employee salary: "))
    address = input('Enter the employee address: ')
    employees[name] = [emp_id, sal, address]

while True:
    name = input('Enter employee name: ')
    info = employees.get(name, -1)
    if info == -1:
        print('Employee does not exist')
    else:
        print(f'Employee details are: \n Employee Id: {info[0]}\n Salary: {info[1]}\n Address: info[2])')
    
    exit_choice = input('Do you want to exit [Yes|No]: ')
    if exit_choice == 'Yes' or exit_choice == 'yes':
        break

Enter the number of employee: 5
Enter the name of the employee: swetha
Enter employee Id: 1
Enter the employee salary: 20000
Enter the employee address: 1/303,thirumalainagar
Enter the name of the employee: mohanapriya
Enter employee Id: 2
Enter the employee salary: 20000
Enter the employee address: 12345
Enter the name of the employee: aarthi
Enter employee Id: 3
Enter the employee salary: 20000
Enter the employee address: abcd
Enter the name of the employee: vandhana
Enter employee Id: 4
Enter the employee salary: 15000
Enter the employee address: efgh
Enter the name of the employee: chithra
Enter employee Id: 5
Enter the employee salary: 20000
Enter the employee address: ijklh
Enter employee name: aarthi
Employee details are:
 Employee Id: 3
 Salary: 20000
 Address: info[2])
Do you want to exit [Yes|No]: yes

In [1]:
empsalary=[19000,13500,20000,56000,20000]
for i in range(len(empsalary)):
  print("Salary of Employee",i,":",empsalary[i])
  Total=sum(empsalary)
  print("Total Salary of the Employees are :",Total)

Salary of Employee 0 : 19000
Total Salary of the Employees are : 128500
Salary of Employee 1 : 13500
Total Salary of the Employees are : 128500
Salary of Employee 2 : 20000
Total Salary of the Employees are : 128500
Salary of Employee 3 : 56000
Total Salary of the Employees are : 128500
Salary of Employee 4 : 20000
Total Salary of the Employees are : 128500

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [2]:
dict1={'empid':1,'empname':'swetha','basicpay':40000}
dict2={'deptname':'sales','deptid':1}
dict3=dict(dict1,**dict2)
print(dict3)

{'empid': 1, 'empname': 'swetha', 'basicpay': 40000, 'deptname': 'sales', 'deptid': 1}